@import 'nib'
@import 'config/*'

global-reset()

#login
	background-color: #ccc
	width: 100%
	height 100%
	display: flex
	align-content: center
	justify-content: center
	flex-wrap: wrap

	input
		border none
		border-radius: 10px
		font-size: res(30)
		padding: res(10) res(25)

		& + input
			margin-top: res(25)

	.btn
		margin-top: res(25)
